* {
    font-size: 16px;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.2rem;}

#output {
    margin-top: 1em;
}

.partner-logo-container .column {
    white-space: nowrap;
    text-align: center; margin: 1em 0;
    height: 100px;
}

.vert-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.partner-logo {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 100%;
}

.tooltip {
    max-width: 600px;
}
